$def with (page)

<!doctype html>
<html class="no-js" lang="en">
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
    <!-- <link rel="stylesheet" href="static/foundation.css"> -->    
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="static/foundation.js"></script>
    <title>$page.title</title>
    
  </head>
  <body>
    

    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">Linear - Field Manager</li>
            <li><a href="/">Home</a></li>
            <li><a href="#">Pivots</a></li>
            <li><a href="#">Weather</a></li>
            <li><a href="/moisture">Moisture</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>        
    </div>
    <!-- End Top Bar -->
    <br>
    
    $:page
    
   
  </body>
</html>  